name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v1
      with:
        java-version: '14.0.0'
        java-package: jdk
        architecture: x64
    - name: Set version
      run: ./version
    - name: Build base artifact
      run: sbt assembly
    - name: Upload base artifact
      uses: actions/upload-artifact@v1
      with:
        name: jar
        path: target/scala-0.27/zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar
  macos:
    needs: build
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set version
        run: ./version
      - uses: actions/setup-java@v1
        with:
          java-version: '14.0.0'
          java-package: jdk
          architecture: x64
      - name: Download base artifact
        uses: actions/download-artifact@v1
        with:
          name: jar
      - name: Package jar as dmg installer
        run: jpackage --name Zozzamas -i jar --main-class start --main-jar zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar --app-version ${{ env.SPECIFICATION_VERSION }}
      - name: Upload dmg
        uses: actions/upload-artifact@v1
        with:
          name: dmg
          path: Zozzamas-${{ env.SPECIFICATION_VERSION }}.dmg
  windows:
    needs: build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set version
        run: ./version.ps1
      - uses: actions/setup-java@v1
        with:
          java-version: '14.0.0'
          java-package: jdk
          architecture: x64
      - name: Download base artifact
        uses: actions/download-artifact@v1
        with:
          name: jar
      - name: Package jar as dmg installer
        run: jpackage --name Zozzamas -i jar --main-class start --main-jar zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar --app-version ${{ env.SPECIFICATION_VERSION }} --type msi --win-dir-chooser
      - name: Upload msi
        uses: actions/upload-artifact@v1
        with:
          name: msi
          path: Zozzamas-${{ env.SPECIFICATION_VERSION }}.msi
