name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v1
      with:
        java-version: '15.0.0'
        java-package: jdk
        architecture: x64
    - name: Compute version
      run: ./version
    - name: Report version
      run: cat target/universal/stage/version.github
    - name: Build application jar
      run: sbt stage
    - name: Upload all artifacts
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: |
          target/universal/stage
  macos:
    needs: build
    runs-on: macOS-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: '15.0.0'
          java-package: jdk
          architecture: x64
      - name: Download all artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
      - name: Report version
        run: cat version.github
      - name: Package jar as dmg installer
        run: jpackage --name Zozzamas --input lib --main-jar lib/zozzamas-${{ env.SPECIFICATION_VERSION }}.jar --app-version ${{ env.SPECIFICATION_VERSION }}
      - name: Upload dmg
        uses: actions/upload-artifact@v1
        with:
          name: dmg
          path: Zozzamas-${{ env.SPECIFICATION_VERSION }}.dmg
  windows:
    needs: build
    runs-on: windows-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: '15.0.0'
          java-package: jdk
          architecture: x64
      - name: Download all artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
      - name: Report version
        run: cat version.github
      - name: Package jar as dmg installer
        run: jpackage --name Zozzamas --input lib --main-jar lib/zozzamas-${{ env.SPECIFICATION_VERSION }}.jar --app-version ${{ env.SPECIFICATION_VERSION }} --type msi --win-dir-chooser
      - name: Upload msi
        uses: actions/upload-artifact@v1
        with:
          name: msi
          path: Zozzamas-${{ env.SPECIFICATION_VERSION }}.msi
