name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v1
      with:
        java-version: '14.0.0'
        java-package: jdk
        architecture: x64
    - name: Compute version
      run: ./version
    - name: Report version
      run: cat target/version
    - name: Build base artifact
      run: sbt assembly
    - name: Upload all artifacts
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: |
          target/zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar
          target/version
    - name: Upload jar artifact
      uses: actions/upload-artifact@v2
      with:
        name: jar
        path: target/zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar
    - name: Upload version artifact
      uses: actions/upload-artifact@v2
      with:
        name: version
        path: target/version
  macos:
    needs: build
    runs-on: macOS-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: '14.0.0'
          java-package: jdk
          architecture: x64
      - name: Download all artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
      - name: Display structure of downloaded files
        run: ls -R
      - name: Report version
        run: cat version
      - name: Package jar as dmg installer
        run: jpackage --name Zozzamas -i . --main-class start --main-jar zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar --app-version ${{ env.SPECIFICATION_VERSION }}
      - name: Upload dmg
        uses: actions/upload-artifact@v1
        with:
          name: dmg
          path: Zozzamas-${{ env.SPECIFICATION_VERSION }}.dmg
  windows:
    needs: build
    runs-on: windows-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: '14.0.0'
          java-package: jdk
          architecture: x64
      - name: Download base artifact
        uses: actions/download-artifact@v2
        with:
          name: jar
      - name: Download version artifact
        uses: actions/download-artifact@v2
        with:
          name: version
      - name: Report version
        run: cat version
      - name: Package jar as dmg installer
        run: jpackage --name Zozzamas -i . --main-class start --main-jar zozzamas-assembly-${{ env.SPECIFICATION_VERSION }}.jar --app-version ${{ env.SPECIFICATION_VERSION }} --type msi --win-dir-chooser
      - name: Upload msi
        uses: actions/upload-artifact@v1
        with:
          name: msi
          path: Zozzamas-${{ env.SPECIFICATION_VERSION }}.msi
